## 作業
在鐵達尼資料集中，今天我們專注觀察變數之間的相關性，以Titanic_train.csv 中，首先將有遺失值的數值刪除，並回答下列問題。
* Q1: 透過數值法計算  Age 和  Survived  是否有相關性?
* Q2:透過數值法計算  Sex 和 Survived  是否有相關性?
* Q3: 透過數值法計算  Age 和  Fare 是否有相關性?   
* 提示:    
1.產稱一個新的變數 Survived_cate ，資料型態傳換成類別型態      
2.把題目中的 Survived 用 Survived_cate 來做分析       
3.首先觀察一下這些變數的資料型態後，再來想要以哪一種判斷倆倆的相關性。

In [1]:
# import library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display

!pip install pingouin
!pip install researchpy

import pingouin as pg
import researchpy   
%matplotlib inline

Requirement already satisfied: pingouin in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (0.3.10)
Requirement already satisfied: numpy>=1.15 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (1.19.2)
Requirement already satisfied: outdated in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.2.0)
Requirement already satisfied: tabulate in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.8.9)
Requirement already satisfied: seaborn>=0.9.0 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.11.0)
Requirement already satisfied: statsmodels>=0.10.0 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.12.0)
Requirement already satisfied: scikit-learn in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.23.2)
Requirement already satisfied: pandas-flavor>=0.1.2 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.2.0)
Requirement already satisfied: pandas>=0.24 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (1.1.3)
Requirement already satisfied: scipy>=1.3 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (1.5.2)
Requirement already satisfied: matplotlib>=3.0.2 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (3.3.2)
Requirement already satisfied: littleutils in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: requests in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from outdated->pingouin) (2.24.0)
Requirement already satisfied: patsy>=0.5 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from statsmodels>=0.10.0->pingouin) (0.5.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->pingouin) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->pingouin) (0.17.0)
Requirement already satisfied: xarray in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pandas-flavor>=0.1.2->pingouin) (0.17.0)
Requirement already satisfied: pytz>=2017.2 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->pingouin) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->pingouin) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.2->pingouin) (8.0.1)
Requirement already satisfied: cycler>=0.10 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.2->pingouin) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.2->pingouin) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from requests->outdated->pingouin) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: six in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5->statsmodels>=0.10.0->pingouin) (1.15.0)
Requirement already satisfied: setuptools>=40.4 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from xarray->pandas-flavor>=0.1.2->pingouin) (50.3.1.post20201107)
Requirement already satisfied: researchpy in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (0.2.3)
Requirement already satisfied: statsmodels in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from researchpy) (0.12.0)
Requirement already satisfied: numpy in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from researchpy) (1.19.2)
Requirement already satisfied: scipy in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from researchpy) (1.5.2)
Requirement already satisfied: pandas in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from researchpy) (1.1.3)
Requirement already satisfied: patsy>=0.5 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from pandas->researchpy) (2020.1)
Requirement already satisfied: six in /Users/qqlu83/opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5->statsmodels->researchpy) (1.15.0)

## 讀入資料

In [2]:
df_train = pd.read_csv("Titanic_train.csv")
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [3]:
## 這邊我們做一個調整，把 Survived 變成離散型變數 Survived_cate

In [4]:
df_train['Survived'] = pd.cut(df_train['Survived'],  bins=[-0.5,0.5,1.5],labels=['死亡','存活'])

df_train['Survived'].value_counts()

死亡    549
存活    342
Name: Survived, dtype: int64

###  Q1: 透過數值法計算  Age 和  Survived  是否有相關性?

In [5]:
aov = pg.anova(dv='Age', between='Survived', data=df_train, detailed=True)
aov

     Source             SS   DF          MS         F     p-unc       np2
0  Survived     897.187582    1  897.187582  4.271195  0.039125  0.005963
1    Within  149559.448362  712  210.055405       NaN       NaN       NaN

In [6]:
etaSq = aov.SS[0] / (aov.SS[0] + aov.SS[1])
etaSq

0.0059630974469252

In [7]:
def judgment_etaSq(etaSq):
    if etaSq < .01:
        qual = 'Negligible'
    elif etaSq < .06:
        qual = 'Small'
    elif etaSq < .14:
        qual = 'Medium'
    else:
        qual = 'Large'
    return(qual)
judgment_etaSq(etaSq)

'Negligible'

### Q2:透過數值法計算  Sex 和 Survived  是否有相關性?

In [8]:
contTable = pd.crosstab(df_train['Sex'], df_train['Survived'])
contTable

Survived   死亡   存活
Sex
female     81  233
male      468  109

In [9]:
df = min(contTable.shape[0], contTable.shape[1]) - 1
df

1

In [10]:
crosstab, res = researchpy.crosstab(df_train['Sex'], df_train['Survived'], test='chi-square')
#print(res)
print("Cramer's value is",res.loc[2,'results'])

#這邊用卡方檢定獨立性，所以採用的 test 參數為卡方 "test =" argument.
# 採用的變數在這個模組中，會自己根據資料集來判斷，Cramer's Phi if it a 2x2 table, or Cramer's V is larger than 2x2.

Cramer's value is 0.5434

In [11]:
## 寫一個副程式判斷相關性的強度
def judgment_CramerV(df,V):
    if df == 1:
        if V < 0.10:
            qual = 'negligible'
        elif V < 0.30:
            qual = 'small'
        elif V < 0.50:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 2:
        if V < 0.07:
            qual = 'negligible'
        elif V < 0.21:
            qual = 'small'
        elif V < 0.35:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 3:
        if V < 0.06:
            qual = 'negligible'
        elif V < 0.17:
            qual = 'small'
        elif V < 0.29:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 4:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.15:
            qual = 'small'
        elif V < 0.25:
            qual = 'medium'
        else:
            qual = 'large'
    else:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.13:
            qual = 'small'
        elif V < 0.22:
            qual = 'medium'
        else:
            qual = 'large'
    return(qual)

judgment_CramerV(df,res.loc[2,'results'])

'large'

### Q3: 透過數值法計算  Age 和  Fare 是否有相關性?

In [16]:
#轉型 
#透過 preprocessing 轉換
from sklearn import preprocessing


le = preprocessing.LabelEncoder()
df_train['Fare']=le.fit_transform(df_train['Fare'])


data=df_train[['Age','Fare']]
# KNN
#設定用多少鄰居資訊來補值
value_neighbors=1
from sklearn.impute import KNNImputer
#進行 KNN的一些設定
imputer = KNNImputer(n_neighbors=value_neighbors)
#把資料放進去，進行補值
df_filled = pd.DataFrame(imputer.fit_transform(data))
display(df_filled)

        0      1
0    22.0   18.0
1    38.0  207.0
2    26.0   41.0
3    35.0  189.0
4    35.0   43.0
..    ...    ...
886  27.0   85.0
887  19.0  153.0
888  30.0  131.0
889  26.0  153.0
890  32.0   30.0

[891 rows x 2 columns]

In [18]:
# 由於 pearsonr 有兩個回傳結果，我們只需取第一個回傳值為相關係數

corr, _=stats.pearsonr(df_filled[0], df_filled[1])
print(corr)
#低度相關

0.04157169833325326